# See http://help.github.com/ignore-files/ for more about ignoring files.

# sensitive files
*.cfg
*.crt

# compiled output
*.pyc
*/__pycache__/*
*/__init__.py

# dependencies
/env
/venv

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
*.bat
