Django==2.1
django-cors-headers==2.4.0
django-simple-history==2.4.0
djangorestframework==3.8.2
djangorestframework-csv==2.1.0
dry-rest-permissions==0.1.10
psycopg2==2.7.5
pytz==2018.5
six==1.11.0
unicodecsv==0.14.1
requests==2.20.1